@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


.conteiner {
    text-align: center;
}

.img-season {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px black;
}

.spring-class {
    background-color: #F9D273;
    font-family: 'Fleur De Leah', cursive;
    font-size: 3em;

}

.summer-class {
    background-color: blue;
    
}

.autumn-class {
    background-color: #F79603;
}

.winter-class {
    background-color: #A5C2E3;
    font-family: 'Merienda', cursive;
    font-size: 3em;
}